@using WebApplication2.Models
@using WebApplication2.Services
@using Microsoft.AspNetCore.Components.Web
@inject googleSheetsSpiceService SpiceService


@{var badgeType1 = "";
    var badgeType2 = ""; }
<div class="card-columns">
    @foreach (var spice in SpiceService.Spices_GetList())
    {
    <div class="card">
        <div class="card-body">
            @switch (spice.Category1)
                {
                    case "Herb":
                        badgeType1 = "badge-success";
                        break;
                    case "Savory":
                        badgeType1 = "badge-info";
                        break;
                    case "Warm":
                        badgeType1 = "badge-warning";
                        break;
                    case "Hot":
                        badgeType1 = "badge-danger";
                        break;
                    default:
                        badgeType1 = "";
                        break;

                }
            @switch (spice.Category2)
                {
                    case "Ground":
                        badgeType2 = "badge-light";
                        break;
                    case "Pod":
                        badgeType2 = "badge-dark";
                        break;
                    case "Blend":
                        badgeType2 = "badge-secondary";
                        break;
                    default:
                        badgeType2 = "";
                        break;

                }
            <h5 class="card-title">
                @spice.Name <span class="badge @badgeType1"> @spice.Category1</span>
                <span class="badge @badgeType2"> @spice.Category2</span>
            </h5>

        </div>
        <div class="card-footer">
            <small class="text-muted">
                <button @onclick="(e => SelectSpice(spice.Name))" class="btn btn-primary">
                    Log Spice
                </button>
            </small>
        </div>
    </div>
    }
</div>


@code
{
    SpiceModel selectedSpice;
    string selectedSpiceName;

    void SelectSpice(string spiceName)
    {
        selectedSpiceName = spiceName;
        selectedSpice = SpiceService.Spices_GetList().First(x => x.Name == spiceName);
        PrintSpiceName();
    }

    int currentRating = 0;
    int voteCount = 0;
    string voteLabel;

    void PrintSpiceName()
    {

        System.Console.WriteLine($"You clicked: {selectedSpice.Name}");
        SpiceService.AddLog(selectedSpice.Name);
    }

}